
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
}


.nav {
    background-color: cadetblue;
    padding: 10px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.nav>ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav a:hover {
    background-color: black;
    transition: 500ms;
    border-radius: 10px;
}