*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

.section1{
    background-color: wheat;
    height: 100vh;

    display: flex;
    flex-direction: column;
    
}

h1{
    color:blue;
    padding: 20px;
}

.komponent-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    gap: 40px;
}

.cpu{
    border: 5px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.gpu{
    border: 5px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ram{
    border: 5px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.harddisk{
    border: 5px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}