* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

.section1 {
    background: linear-gradient(hsl(0 100% 60%), hsl(47 100% 60%));


    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

h1 {
    color: white;
    padding: 20px;
}

.komponent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
}

.cpu,
.gpu,
.ram,
.harddisk img {
    max-width: 700px;
    margin: 0 auto;
}

.cpu,
.gpu,
.ram,
.harddisk {
    background-color: white;
    transition: 0.3s;
}



.cpu:hover{
    cursor: pointer;
    scale: 1.15;
}

.gpu:hover{
    cursor: pointer;
    scale: 1.15;
}

.ram:hover{
    cursor: pointer;
    scale: 1.15;
}

.harddisk:hover{
    cursor: pointer;
    scale: 1.15;
}

p:hover{
    cursor: text;
}

.cpu {

    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.gpu {

    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.ram {

    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.harddisk {
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}